# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
spark-analytics/.venv/

# Spark
metastore_db/
derby.log
spark-warehouse/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
